<header class="page-header" role="banner">
	<h1 class="project-name">Kanbanyte Website</h1>
	<h2 class="project-tagline">GitHub Pages powered by Astro.</h2>

	<nav>
		<a href="/" class="btn">Home</a>
		<a href="https://github.com/kanbanyte/kanbanyte.github.io" class="btn">View on GitHub</a>
		<a href="https://github.com/kanbanyte/kanbanyte.github.io/zipball/main" class="btn">Download .zip</a>
		<a href="https://github.com/kanbanyte/kanbanyte.github.io/tarball/main" class="btn">Download .tar.gz</a>
	</nav>
</header>
