---
// Styles
import "@styles/global.css";
import "@styles/jekyll-theme-cayman.scss";

// Components
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";

// Component Frontmatter or Astro Property
const { title } = Astro.props.frontmatter || Astro.props;
---

<!-- Template -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/kanbanyte_cat.png" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main id="content" class="main-content" role="main">
			<!-- Markdown content is injected here -->
			<slot />
			<Footer />
		</main>
	</body>
</html>
<!-- /Template -->
